{% extends "base.html" %}

{% block content %}

<div class="row principal">
    <div class="col-lg-8">
        <div class="bs-component">
            <h2>Example body text</h2>
            <p>
                Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Nullam id dolor id nibh ultricies vehicula.
            </p>
        </div>
    </div>
</div>

{% endblock %}